*{
    margin: 0;
    padding: 0;
}

.fundo{
    background-image: linear-gradient(90deg, rgb(49, 49, 49), rgb(90, 90, 90));
    height: 100vh;
    color: whitesmoke;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.calculadora{
    position: absolute;
    background-color: #201b18;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 10px;
}

.botao{
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    background-color: #2b2120;
    border: none;
    color: whitesmoke;
    border-radius: 100%;
    margin: 2px;
}

.botao:hover{
    background-color: #4b3937;
}

.botao:active{
    background-color: gray;
}

#titulo{
    text-align: center;
    padding-top:  250px;
}

#visor{
    width: 210px;
    height: 35px;
    background-color: #3e2f2c;
    border-radius: 15px;
    text-align: right;
    padding: 10px;
    font-size: 25px;
}

#botao_igual{
    background-color: #753126;
}

#botao_limpar{
    background-color: #5a4300;
}

#operadores{
    background-color: #5d403a;
}